@{
    ViewBag.Title = "Index";
}

<div id="rpt"></div>

@section scripts {
<script src="@Url.Content("Scripts/d3.v3.js")" data-main="Scripts/main"></script>
<script type="text/javascript">
    d3.csv("api/logapi", function(data) {
        console.log(data);
        d3.select("#rpt")
            .data(data)
            .enter()
            .append("div")
            .text(function (d) { return "<div>" + d.URIStem + "</div><div>" + d.count + "</div>"; })
    });
</script>
}

